__pycache__

*.pem

vim/.vim/plugged
vim/.vim/autoload/plug.vim
vim/.vim/.netrwhist
*.spl

*.local
.local*

i3/i3wm_mod.local.arch

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs/.emacs.d/*
# But don't ignore these specific locations.
!emacs/.emacs.d/init.el
!emacs/.emacs.d/custom.el
!emacs/.emacs.d/init_dir
