__pycache__

vim/vim.symlink/bundle/
vim/vim.symlink/.netrwhist
*.spl

git/gitconfig.local.symlink

i3/i3wm_mod.local.arch

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs/emacs.d.arch/*
# But don't ignore these specific locations.
!emacs/emacs.d.arch/init.el
!emacs/emacs.d.arch/custom.el
!emacs/emacs.d.arch/init_dir
