[Unit]
Description=Lock the screen on suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i $Home/safe/personal/developer/python/dynamic_desktop_background/graphics/solarized_bg_set/clear.png
# ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
