[Unit]
Description=Run service updating the desktop background to display current weather

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
Unit=update_desktop_bg_to_weather.service

[Install]
WantedBy=timers.target
