[Unit]
Description=Run python script to fetch weather and update desktop bg

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/bin/python3 $DOTFILES/dynamic_desktop_background/_lib/update_desktop_bg_to_weather.py
