[Unit]
Description=Run service updating the desktop background to display current weather

[Timer]
OnBootSec=1min
OnCalendar=*:00/15
Persistent=True
Unit=update_desktop_bg_weather.service

[Install]
WantedBy=timers.target
