[Unit]
Description=Mailbox synchronization service

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new